runs/
*.cov
.DS_Store
deps/build.log
/docs/build/
/test/Project.toml
/test/Manifest.toml
examples/output/
/demo/output/
/demo/Manifest.toml
/demo/runs/
/bench/runs/
/bench/genomes/
/bench/Manifest.toml
/bench/output/
/examples/templates/new_project/output/
/examples/templates/new_project/Manifest.toml
